<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyCheck"
        tools:targetApi="31">
        <activity
            android:name=".controlador.CambiarInformacionActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.pago.PasarelaActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.pago.PagoActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.reserva.ReservaActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.reserva.RoomActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Main" />
        <activity
            android:name=".controlador.login.AccountRecoveryActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.login.CheckEmailActivity"
            android:exported="false" />
        <activity
            android:name=".controlador.login.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD3-bhjWM1I1Svzt2UNFvzbscKScUCLbr0" />
    </application>

</manifest>